
<div class="container">
<h2>Main Page</h1>
    <br>
<h4>A place for the PlayStation gamers to share your games,</h4>
<h4>gaming experience,</h4>
<h4>and much more...</h4>
<br>
</div>
<div class="container">
<%= image_tag("bar1.png")  %>
<br>
<br>
<h5>Sponsor Ads/Game news/other info...</h5>
<%= image_tag("psdeals.png", class: "ads-img")  %>
<hr>
<%= image_tag("lego.png", class: "ads-img")  %>
<hr>
<%= image_tag("bestbuy.png", class: "ads-img")  %>
<%= image_tag("bar.png")  %>
</div>

